#designer-logo, #powered-by, #hero-unit, #start {
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#powered-by {
    display: inline;
    right: 0;
    text-align: right;
}
#start {
    bottom: 0;
    width: 100%;
}

@include mq($until: tablet) {
    #designer-logo {
        width: 48px;
        height: 48px;
        background-image: url("../../assets/images/gl-logo_1x.png");
    }
    #hero-unit {
        top: 40px;
        left: 24px;
        width: calc(100% - 48px);
        height: calc(100% - 80px);
        background-image: url("../../assets/images/hero-img_1x.png");
    }
    #start {
        background-image: url("../../assets/images/page1_1x.png");
        height: 32px;
        width: 32px;
    }
}
@include mq($from: tablet) {
    #designer-logo {
        width: 96px;
        height: 96px;
        background-image: url("../../assets/images/gl-logo_2x.png");
    }
    #hero-unit {
        top: 65px;
        left: 48px;
        width: calc(100% - 96px);
        height: calc(100% - 142px);
        background-image: url("../../assets/images/hero-img_2x.png");
    }
    #start {
        background-image: url("../../assets/images/page1_2x.png");
        height: 64px;
        width: 64px;
    }
}
