<header class="hero-item artist-img" ng-style="!clientIsPhone && {'background-image': 'url(' + model.img['huge'] + ')'}">
	<span ng-if="clientIsPhone" id="artist-art" class="u-margin-right-medium" ng-style="{'background-image': 'url(' + model.img['small'] + ') '}">&nbsp;</span>
	<span id="close-card">&nbsp;</span>
	<h3 id="card-title">{{model.title}}</h3>
</header>
<section id="card-details" class="u-padding-small">
	<h6 ng-if="!clientIsPhone" class="u-margin-bottom-medium">Tracks</h6>
	<article id="albumcard-details" ng-repeat="song in tracks | orderBy:'nr' as orderlyList track by song.nr">
		<section id="album-specs">
			<h4>{{song.title}}</h4>
			<h6>{{song.duration}}</h6>
		</section> 
	</article>
</section>