<article class="u-margin-left-small u-margin-right-small u-margin-top-medium u-margin-bottom-medium">
	<section ng-style="{'background-image': 'url(' + model.img[clientIsPhone ? 'small' : 'large'] + ') '}" class="bg-image-n--mediaitem o-layout--center@tablet o-media__img">
	</section>
	<section class="u-padding-small o-media__body">
		<h5>{{model.title}}</h5>
	</section>
	<section>
		<img class="view-art-details--icon" src="../assets/images/bitmap_1x.png"/>
		<h6 class="view-art-details--text">{{model.actionText}}</h6>
	</section>
	<section class="view-type-icon {{model.type}}">
	</section>
	<section ng-if="artistcardVisible" artistcard id={{model.id}}>
	</section>
	<section ng-if="albumcardVisible" albumcard id="{{model.id}}">
	</section>
</article>