<header id="search" class="o-layout--center u-padding-right-large u-padding-left-large u-padding-top-medium u-padding-bottom-medium">
    <input class="u-1/1 u-1/2@tablet u-padding-left-medium u-padding-right-large" type="search" placeholder="Search for artist or album title" ng-model="searchVal">
    <button class="u-padding-left-medium u-padding-right-medium" type="button" ng-click="PageCtrl.search()">SEARCH</button>
</header>
<main id="results" class="o-layout--flexbox-vertical-full">
    <section ng-if="!initialized" id="results_landing" class="o-layout--center u-visible__tablet">
    	<img src="../assets/images/magnify_1x.png">
    	<h3 class="u-margin-top-large">Your results will appear here</h3>
    </section>
    <section ng-if="initialized" id="results_box" class="o-wrapper-huge o-layout--flexbox-horizontal-wrapping">
    	<mediaitem ng-repeat="model in collection track by model.id">
        </mediaitem>
    </section>
</main>
<footer id="copyright" class="o-layout--center u-padding-top-medium u-padding-bottom-medium">
	<q>Designed by Geek Label</q>
	<q>Powered by Spotify</q>
</footer>